{% include 'common/head.html' %}
  <body>
	{% include 'common/top.html' %}	
   

    <div class="container">
    <div class="alert alert-info">
	<a class="close" data-dismiss="alert">×</a>
		{% ifequal recaptcha_error 0 %}
		验证成功！
		{% else %}
		Hello,<strong>{{user_name}}</strong>
		{{recaptcha_error}}
		{% endifequal %}
    </div>
		 <form action="" method="post">
		 <div>{{captchahtml}}</div>
		 <button type="submit" class="btn btn-small btn-inverse">提交</button>
		 </form>
      {% include 'common/footer.html' %}	
    </div> <!-- /container -->

   
{% include 'common/endjs.html' %}	
  </body>
</html>
